#week-schedule table {
    border-collapse: collapse;
}

#week-schedule table td,
#week-schedule table th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}